<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vet - Pet Clinic</title>
</head>
<body>
	<h1 th:text="'List of Vets'">Test 1</h1>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Fist Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet.id}">Id</td>
				<td th:text="${vet.firstName}">Fist Name</td>
				<td th:text="${vet.lastName}">Last Name</td>
			</tr>
		</tbody>
	</table>

</body>
</html>